.brands {
  background-color: #000;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px 16px;
  gap: 28px;
}

@media (min-width: 768px) {
  .container {
    justify-content: space-between;
    padding: 0;
  }
}

.logo {
  height: auto;
  width: auto;
  max-width: 116px;
  max-height: 26px;
  margin: 20px 0;
}

@media (min-width: 1024px) {
  .logo {
    max-width: 192px;
    max-height: 36px;
  }
}

@media (min-width: 768px) {
  .logo {
    margin: 44px 0;
  }
}

