.button {
  background-color: #000;
  width: 100%;
  margin-left: 12px;
  border-radius: 9999px;
  height: 44px;
  font-size: 0.875rem;
  color: #fff;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (min-width: 640px) {
  .button {
    margin-left: 20px;
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .button {
    height: 52px;
  }
}

