.container {
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  bottom: 0;
  left: 0;
  padding: 16px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 640px) {
  .container {
    justify-content: flex-start;
  }
}

@media (min-width: 768px) {
  .container {
    position: relative;
    border: none;
    padding: 0;
    justify-content: center;
  }
}

