.container {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 16px;
}

@media (min-width: 640px) {
  .label {
    font-size: 1rem;
  }
}

.colors {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

@media (min-width: 640px) {
  .colors {
    gap: 16px;
  }
}

.colorButton {
  border-radius: 9999px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

@media (min-width: 640px) {
  .colorButton {
    width: 40px;
    height: 40px;
  }
}

.checkIcon {
  font-size: 1rem;
  color: #fff;
}

