.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.title {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 12px;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 14px;
  }
}

.ratingContainer {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

@media (min-width: 640px) {
  .ratingContainer {
    margin-bottom: 14px;
  }
}

.ratingText {
  color: #000;
  font-size: 0.75rem;
  margin-left: 11px;
  padding-bottom: 2px;
}

@media (min-width: 640px) {
  .ratingText {
    font-size: 0.875rem;
    margin-left: 13px;
    padding-bottom: 0;
  }
}

.ratingSlash {
  color: rgba(0, 0, 0, 0.6);
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

@media (min-width: 640px) {
  .priceContainer {
    gap: 12px;
  }
}

.price {
  font-weight: bold;
  color: #000;
  font-size: 1.5rem;
}

@media (min-width: 640px) {
  .price {
    font-size: 32px;
  }
}

.originalPrice {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
  text-decoration: line-through;
  font-size: 1.5rem;
}

@media (min-width: 640px) {
  .originalPrice {
    font-size: 32px;
  }
}

.discountBadge {
  font-weight: 500;
  font-size: 10px;
  padding: 6px 14px;
  border-radius: 9999px;
  background-color: rgba(255, 51, 51, 0.1);
  color: #FF3333;
}

@media (min-width: 640px) {
  .discountBadge {
    font-size: 0.75rem;
  }
}

.description {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}

@media (min-width: 640px) {
  .description {
    font-size: 1rem;
  }
}

.divider {
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.dividerHidden {
  display: none;
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

@media (min-width: 768px) {
  .dividerHidden {
    display: block;
  }
}

