.container {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
    gap: 14px;
  }
}

.gallery {
  display: flex;
  gap: 12px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .gallery {
    flex-direction: column;
    gap: 14px;
    width: fit-content;
    justify-content: flex-start;
  }
}

.thumbnail {
  background-color: #F0EEED;
  border-radius: 13px;
  width: 100%;
  max-width: 111px;
  max-height: 106px;
  aspect-ratio: 1;
  overflow: hidden;
  border: none;
  cursor: pointer;
  padding: 0;
}

@media (min-width: 1280px) {
  .thumbnail {
    border-radius: 20px;
    max-width: 152px;
    max-height: 167px;
    min-height: 167px;
  }
}

.thumbnailImage {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.thumbnail:hover .thumbnailImage {
  transform: scale(1.1);
}

.mainImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F0EEED;
  border-radius: 13px;
  width: 100%;
  max-width: 384px;
  margin: 0 auto;
  height: 100%;
  max-height: 530px;
  min-height: 330px;
  overflow: hidden;
  margin-bottom: 12px;
}

@media (min-width: 640px) {
  .mainImageContainer {
    border-radius: 20px;
  }
}

@media (min-width: 768px) {
  .mainImageContainer {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .mainImageContainer {
    margin-bottom: 0;
    min-height: 380px;
  }
}

@media (min-width: 1280px) {
  .mainImageContainer {
    min-height: 530px;
  }
}

.mainImage {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.mainImage:hover {
  transform: scale(1.1);
}

