.cartLink {
  position: relative;
  margin-right: 14px;
  padding: 4px;
  display: inline-block;
}

.cartIcon {
  max-width: 22px;
  max-height: 22px;
}

.badge {
  border: 1px solid;
  background-color: #000;
  color: #fff;
  border-radius: 9999px;
  width: fit-content;
  height: fit-content;
  padding: 0 4px;
  font-size: 0.75rem;
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
}

