.section {
  overflow: hidden;
}

.carousel {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .carousel {
    margin-bottom: 36px;
  }
}

.header {
  position: relative;
  display: flex;
  align-items: flex-end;
  max-width: 1240px;
  margin: 0 auto 24px;
  padding: 0 16px;
}

@media (min-width: 640px) {
  .header {
    align-items: center;
    margin-bottom: 40px;
  }
}

@media (min-width: 1280px) {
  .header {
    padding: 0;
  }
}

.title {
  font-size: 32px;
  line-height: 36px;
  text-transform: capitalize;
  margin-right: auto;
}

@media (min-width: 768px) {
  .title {
    font-size: 3rem;
  }
}

.controls {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: 8px;
}

.controlButton {
  font-size: 1.5rem;
}

.carouselItem {
  width: 100%;
  max-width: 358px;
  padding-left: 20px;
}

@media (min-width: 640px) {
  .carouselItem {
    max-width: 400px;
  }
}

.reviewCard {
  height: 100%;
}

.blur {
  backdrop-filter: blur(2px);
}

.blurOverlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

