.banner {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 8px;
}

@media (min-width: 640px) {
  .banner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 1280px) {
  .banner {
    padding-left: 0;
    padding-right: 0;
  }
}

.container {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
}

.text {
  font-size: 0.75rem;
}

@media (min-width: 640px) {
  .text {
    font-size: 0.875rem;
  }
}

.link {
  text-decoration: underline;
  font-weight: 500;
}

.closeButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: fit-content;
  height: fit-content;
  padding: 4px;
  display: none;
}

@media (min-width: 640px) {
  .closeButton {
    display: flex;
  }
}

.closeButton:hover {
  background-color: transparent;
}

