.wrapper {
    padding: 0 16px;
  }
  
  .section {
    max-width: 1440px;
    margin: 0 auto;
    background: #f0f0f0;
    padding: 70px;
    border-radius: 40px;
    text-align: center;
  }
  
  .title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 40px;
    text-transform: capitalize;
    font-weight: bold;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  @media (min-width: 640px) {
    .row {
      flex-direction: row;
      gap: 20px;
    }
  }
  
  .card1 {
    height: 290px;
    background-image: url("/images/dress-style-1.png");
    background-size: cover;
    background-position: center;
  }
  
  .card2 {
    height: 290px;
    background-image: url("/images/dress-style-2.png");
    background-size: cover;
    background-position: center;
  }
  
  .card3 {
    height: 290px;
    background-image: url("/images/dress-style-3.png");
    background-size: cover;
    background-position: center;
  }
  
  .card4 {
    height: 290px;
    background-image: url("/images/dress-style-4.png");
    background-size: cover;
    background-position: center;
  }
  