.card {
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  aspect-ratio: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 24px;
  overflow: hidden;
}

@media (min-width: 640px) {
  .card {
    padding: 28px 32px;
  }
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

@media (min-width: 640px) {
  .header {
    margin-bottom: 16px;
  }
}

.actionIcon {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.5rem;
}

.userContainer {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

@media (min-width: 640px) {
  .userContainer {
    margin-bottom: 12px;
  }
}

.userName {
  color: #000;
  margin-right: 4px;
}

@media (min-width: 640px) {
  .userName {
    font-size: 1.25rem;
  }
}

.checkIcon {
  color: #01AB31;
  font-size: 1.25rem;
}

@media (min-width: 640px) {
  .checkIcon {
    font-size: 1.5rem;
  }
}

.content {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.6);
}

@media (min-width: 640px) {
  .content {
    font-size: 1rem;
  }
}

.date {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 16px;
}

@media (min-width: 640px) {
  .date {
    margin-top: 24px;
  }
}

