.footer {
  margin-top: 40px;
}

.topSection {
  position: relative;
}

.background {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: #F0F0F0;
}

.newsletterContainer {
  padding: 0 16px;
}

.bottomSection {
  padding-top: 32px;
  background-color: #F0F0F0;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .bottomSection {
    padding-top: 50px;
  }
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

@media (min-width: 1024px) {
  .nav {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}

.brandSection {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .brandSection {
    grid-column: span 3;
    max-width: 248px;
  }
}

.brandTitle {
  font-size: 28px;
  margin-bottom: 24px;
}

@media (min-width: 1024px) {
  .brandTitle {
    font-size: 32px;
  }
}

.brandDescription {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.875rem;
  margin-bottom: 36px;
}

.socialLinks {
  display: flex;
  align-items: center;
}

.socialLink {
  background-color: #fff;
  transition: all 0.3s;
  margin-right: 12px;
  width: 28px;
  height: 28px;
  border-radius: 9999px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  text-decoration: none;
  color: inherit;
}

.socialLink:hover {
  background-color: #000;
  color: #fff;
}

.linksSectionDesktop {
  display: none;
}

@media (min-width: 1024px) {
  .linksSectionDesktop {
    display: grid;
    grid-column: span 9;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 40px;
  }
}

.linksSectionMobile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
}

@media (min-width: 640px) {
  .linksSectionMobile {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .linksSectionMobile {
    display: none;
  }
}

.divider {
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
}

.footerBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

@media (min-width: 640px) {
  .footerBottom {
    flex-direction: row;
    justify-content: space-between;
  }
}

.copyright {
  font-size: 0.875rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 16px;
}

@media (min-width: 640px) {
  .copyright {
    text-align: left;
    margin-bottom: 0;
    margin-right: 4px;
  }
}

.link {
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.paymentBadges {
  display: flex;
  align-items: center;
}

.badge {
  width: 46px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #D6DCE5;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badgeMargin {
  margin-right: 12px;
}

.badgeImage {
  max-height: 15px;
}

