.section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.title {
  font-weight: 500;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .title {
    font-size: 1rem;
  }
}

.link {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.875rem;
  margin-bottom: 16px;
  width: fit-content;
  text-decoration: none;
}

@media (min-width: 768px) {
  .link {
    font-size: 1rem;
  }
}

.capitalize {
  text-transform: capitalize;
}

