.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding: 36px 24px;
  max-width: 1240px;
  margin: 0 auto;
  background-color: #000;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
    padding: 44px 64px;
  }
}

.title {
  font-weight: bold;
  font-size: 32px;
  color: #fff;
  margin-bottom: 36px;
}

@media (min-width: 768px) {
  .title {
    font-size: 40px;
    margin-bottom: 0;
  }
}

.formContainer {
  display: flex;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 349px;
  margin: 0 auto;
}

.inputGroup {
  display: flex;
  background-color: #fff;
  margin-bottom: 14px;
}

.icon {
  min-width: 20px;
  min-height: 20px;
}

.input {
  background-color: transparent;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.875rem;
}

@media (min-width: 640px) {
  .input::placeholder {
    font-size: 1rem;
  }
}

.button {
  font-size: 0.875rem;
  font-weight: 500;
  background-color: #fff;
  height: 48px;
  border-radius: 9999px;
  padding: 12px 16px;
}

@media (min-width: 640px) {
  .button {
    font-size: 1rem;
  }
}

