.accordionItem {
  border: none;
}

.trigger {
  color: #000;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 0;
  padding-top: 2px;
}

.trigger:hover {
  text-decoration: none;
}

.content {
  padding-top: 16px;
  padding-bottom: 0;
}

.colorsGrid {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .colorsGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
}

.colorButton {
  border-radius: 9999px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

@media (min-width: 640px) {
  .colorButton {
    width: 40px;
    height: 40px;
  }
}

.checkIcon {
  font-size: 1rem;
  color: #fff;
}

