.accordionItem {
  border: none;
}

.trigger {
  color: #000;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 0;
  padding-top: 2px;
}

.trigger:hover {
  text-decoration: none;
}

.content {
  padding-top: 16px;
  padding-bottom: 0;
}

.list {
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.6);
  gap: 2px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  text-decoration: none;
  color: inherit;
}

