.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.applyButton {
  background-color: #000;
  width: 100%;
  border-radius: 9999px;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 16px;
  height: 48px;
}

