.triggerButton {
  height: 32px;
  width: 32px;
  border-radius: 9999px;
  background-color: #F0F0F0;
  color: #000;
  padding: 4px;
  border: none;
  cursor: pointer;
  display: block;
}

@media (min-width: 768px) {
  .triggerButton {
    display: none;
  }
}

.icon {
  font-size: 1rem;
  margin: 0 auto;
}

.content {
  max-height: 90%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: bold;
  color: #000;
  font-size: 1.25rem;
}

.headerIcon {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.4);
}

.hidden {
  display: none;
}

.filtersContainer {
  max-height: 90%;
  overflow-y: auto;
  width: 100%;
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .filtersContainer {
    gap: 24px;
  }
}

