.inputGroup {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 9999px;
  overflow: hidden;
  padding-left: 16px;
  transition: all 0.3s;
}

.inputGroup:focus-within {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.inputGroupText {
  margin-right: 12px;
}

.inputControl {
  width: 100%;
  padding: 12px 16px;
  outline: none;
}

.inputControl::placeholder {
  font-weight: normal;
  font-size: 0.875rem;
}

